html {
    --main-background-color: #ffffff;
    --drawn-color: ##66cdaa;
    --hover-color: #7fffd4;
    --erase-hover-color: #f9f9f9;
    --erase-color: #ffffff;
    --dark-mode-bg: #000000;
    --dark-mode-erase: #000000;
    --dark-mode-erase-hover: #201f1f;
}

body {
    background-color: var(--main-background-color);
}

h1 {
    text-align: center;
}

.hover {
    transition: 0.2ms;
    background-color: var(--hover-color);
}

.drawn {
    transition: 0.5s;
    background-color: #66cdaa;
}

.menu {
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown:hover .dropbtn {
background-color: var(--hover-color);
}

.dropdown .dropbtn {
    background-color: #66cdaa; 
}

button {
border: .2rem solid black;
border-radius: .25rem;
margin: 0.5rem;
font-size: 0.75rem;
padding: 0.5rem .25rem;
transition: all .7s ease;
width: 5rem;
text-align: center;
color: white;
background: rgba(0,0,0,0.4);
text-shadow: 0 0 .25rem black;
}

.selected {
transform: scale(1.1);
border-color: #ffc600;
box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 2rem;
}
    
.mode {
font-size: .6rem;
text-transform: uppercase;
letter-spacing: .05rem;
color: #ffc600;
}

#density-selector {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#colour-mode-display {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}


input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  }